@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

:root {
  --bg-surface-dim: #0f1418;
  --bg-surface-bright: #343a3e;
  --bg-surface-lowest: #0a0f12;
  --bg-surface-low: #171c20;
  --bg-surface-container: #1b2024;
  --bg-surface-variant: #303539;
  
  --color-primary: #8ed5ff;
  --color-primary-fixed-dim: #7bd0ff;
  --color-primary-container: #38bdf8;
  --color-on-primary-container: #001e2c;
  
  --color-secondary: #b9c8de;
  --color-secondary-container: #39485a;
  --color-on-secondary-container: #a7b6cc;
  
  --color-tertiary-container: #f1a02b;
  
  --color-on-surface: #dee3e8;
  --color-on-surface-variant: #bdc8d1;
  --color-outline-variant: #3e484f;
  
  --color-error: #ffb4ab;
  --color-error-container: #93000a;
  --color-on-error-container: #ffdad6;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-surface-dim);
  color: var(--color-on-surface);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.glass-panel {
  background: rgba(30, 41, 59, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  display: inline-block;
}